{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "proseWrap": "always",
  "trailingComma": "all"
}
